.categoriesContainer {
  justify-content: center;
  min-width: 100%;
}

.carouselContainer {
  margin: 4rem auto;
  height: 420px;
  overflow: hidden;
  display: flex;

  @media screen and (max-width: $mantine-breakpoint-md) {
    height: 500px;
  }
}
