.categoriesContainer {
  justify-content: center;
  row-gap: 1;
  column-gap: 2rem;
  margin: rem(40px) rem(24px);

  @media screen and (max-width: $mantine-breakpoint-md) {
    margin: rem(40px) rem(18px);
  }
}
