.categoriesContainer {
  justify-content: center;
  min-width: 100%;
}

.carouselContainer {
  margin: 4rem auto;
  height: 500px;
  overflow: hidden;
  display: flex;

  @media screen and (max-width: $mantine-breakpoint-lg) {
    height: 530px;
  }

  @media screen and (max-width: $mantine-breakpoint-md) {
    height: 540px;
  }

  @media screen and (max-width: $mantine-breakpoint-sm) {
    height: 650px;
  }
}
