.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);

  @media (max-width: $mantine-breakpoint-lg) {
    justify-content: center;
  }
}

.content {
  max-width: rem(600px);
  margin-right: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-lg) {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
    align-items: center;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    grow: 1;
  }
}

.description {
  max-width: rem(500);
  margin-bottom: var(--mantine-spacing-lg);
}

.image {
  /* width: 50%;
  height: auto; */

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}
