@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  position: relative;
  padding: rem(10px);
  width: rem(120px);
  height: rem(80px);
  transition: width 0.3s ease, height 0.3s ease;
}

.stickyHeader .logo {
  width: rem(100px);
}

.header {
  height: rem(80px);
  max-width: rem(var(--max-width));
  margin: auto;
  width: 100%;

  /* Desktop */
  @media (min-width: 768px) {
    margin: rem(20px) auto; /* Add margin */
    padding: 0px rem(20px);
  }
}

.stickyHeader {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  height: rem(80px);
  margin: 0 auto;
  z-index: 100;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-in-out;

  /* Desktop */
  @media (min-width: 768px) {
    margin: rem(10px) auto; /* Add margin */
    padding: 0px rem(20px);
  }
}

.showHeaderSpace {
  height: rem(80px);
}

.inner {
  background-color: var(--mantine-color-body);
  box-shadow: rem(1px) rem(1px) rem(10px) rgba(0, 0, 0, 0.1);
  height: rem(80px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Desktop */
  @media (min-width: 768px) {
    border-radius: 100px;
  }
}

.desktopGroup {
  padding-right: rem(20px);
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  text-transform: uppercase;
}

.link.active {
  color: var(--mantine-color-red-6);
}

.mobileNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(28px);
}
