.title {
  composes: title from "../AboutHero/styles.module.css";
}

/* --------- Image Viewer --------- */
.singleImageContainer {
  overflow: hidden;
  padding: 0;
  height: 250px;
  cursor: pointer;
  position: relative;
}

.singleImageContainer:hover .singleImage {
  transform: scale(1.1);
}

.singleImage {
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.modalContent {
  overflow: hidden;
  padding: var(--mantine-spacing-md);
  height: 80svh;
  position: relative;
}

.modalImage {
  object-fit: contain;
}

/* --------- Page Header --------- */
.galleryHeader {
  position: relative;
  height: rem(60vh);
  border-radius: var(--mantine-radius-xl);
  overflow: hidden;
  margin: 0 rem(18px);
}

.galleryHeaderContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  z-index: 99;
  /* gradient */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 0%,
    rgb(255, 255, 255, 1) 100%
  );

  /* center content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.galleryDesc {
  width: 600px;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.galleryHeaderImgContainer {
  width: 100%;
  height: 100%;
}

.galleryHeaderImg {
  object-fit: cover;
}
