.paperMission {
  width: 100%;
  text-align: center;
  padding: rem(44px);
  background: var(--gradient-light);
  display: flex;
  align-items: center;
  gap: rem(36px);
  border-radius: var(--mantine-radius-default);

  @media (max-width: 768px) {
    padding: rem(20px);
    gap: rem(24px);
    flex-direction: column;
  }
}

.paperVision {
  width: 100%;
  text-align: center;
  padding: rem(44px);
  background: var(--gradient-light);
  display: flex;
  align-items: center;
  gap: rem(36px);
  flex-direction: row-reverse;
  border-radius: var(--mantine-radius-default);

  @media (max-width: 768px) {
    padding: rem(20px);
    gap: rem(24px);
    flex-direction: column;
  }
}

.title {
  color: var(--brand-indigo);
  font-size: rem(40px);
  font-weight: 600;
  width: 30%;

  @media screen and (max-width: 768px) {
    font-size: rem(28px);
    width: 100%;
  }
}

.description {
  color: var(--brand-blue);
  margin-top: rem(20px);
  text-align: right;
  flex-grow: 1;
  letter-spacing: 0.1px;

  @media screen and (max-width: 768px) {
    text-align: justify;
  }
}

.visionDescription {
  color: var(--brand-blue);
  margin-top: rem(20px);
  text-align: left;
  flex-grow: 1;
  letter-spacing: 0.1px;

  @media screen and (max-width: 768px) {
    text-align: justify;
  }
}
